body {
  background-color: #e8e9f3;
  color: #190933;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.profile {
  border: 1px solid #262032;
  padding: 20px;
}

.profile img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 30;
  font-style: italic;
  text-align: center;
}

h2, h3 {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 20;
  color: indigo;
  position:relative;
  animation:animatetop 0.4s
}

@keyframes animatetop{from{top:-300px;opacity:0}to{top:0;opacity:1}}

p {
  line-height: 1.5;
}

img {
  border: 5px solid #190933;
  padding: 10px;
  margin: 20px;
  border-top-right-radius: 30px;
}

list {
  display: inline-block;
  margin-left: 50px;
}

nav {
  color: #190933;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #665687;
}

/* Style for the active link */
nav a.active {
  background-color: #e8e9f3;
  font-weight: bold;
  text-decoration: underline;
  color: #190933;
}

/* Media query for screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2, h3 {
    font-size: 18px;
  }
  
  img {
    border: 3px solid #190933;
    padding: 5px;
    margin: 10px;
  }
  
  list {
    display: block;
    margin-left: 0;
  }
  
  nav {
    border: 1px solid #190933;

  }

  #skip {
    display: none;
}

@media (prefers-reduced-motion: reduce) {
  .gif {
      animation: none !important;
      display: none !important;
      visibility: hidden !important;
  }

  h2, h3 {
      animation: none !important;
  }
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 20px;
  }

  .profile {
    padding: 30px;
  }

  h1 {
    font-size: 36px;
  }

  h2, h3 {
    font-size: 24px;
  }

  img {
    border: 4px solid #190933;
    padding: 15px;
    margin: 30px;
  }

  list {
    margin-left: 70px;
  }
}